/* app.css */

.container {
    width: 800px;
    margin: 0 auto;
}


.logo {
    font-family: 'Noto Serif', serif;
    font-size: 1.4em;
}

.footer {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    font-weight: normal;
}

.project-list-item {
    font-size: 1.4em;
}

.action-panel {
    margin: 10px 0; 
}

.ticket-form .ticket-number {
    padding-top: 5px;
    display: inline-block;
}